
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Регистрация{% endblock%}


{% block logo %}

	<div id="logo_log">
			<div>
				<img src="{% static 'logo.png' %}" alt="">
			</div>
			<h1>Go To School</h1>
		</div>	

{% endblock %}
	
{% block main_block %}
<br><br>
	<div id="log_block">
		<form id="register_form" method="POST"> {% csrf_token %}
		<!-- 	<input type="text" required="" name="username" placeholder="Ваше имя"><br>
			<input type="mail" name="email" required="" placeholder="Электронная почта"><br>
			<input type="password" name="password1" required="" placeholder="Пароль"><br>
			<input name="password2" type="password" required="" placeholder="Повторите пароль"><br> -->
			{{form|crispy}}
			<button type="submit">Создать учетную запись</button>
		</form>
	</div>
			<br>
		<a class="sup_link" href="{% url 'main:login' %}">Авторизация</a>
{% endblock%}
